/* layout */
header { 
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.albums {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.top15albums {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling */
header {
    background-color: #bd3939;
    .awards-title {
        color:black;
        font-size: 2.5rem;
        font-family: 'Koulen';
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 2.5rem;
        font-family: 'Koulen';

    }
a:hover {
    color: white;
}

}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #dda6a6;
}

.top15albums {
    font-size: 1.563rem;
}

.album-title {
    font-size: 0.938rem;
    color: black;
}

footer {
    background-color: #bd3939;
    font-size: 1.875rem;
    a{
    color: black;
    text-decoration: none;}
    a:hover {
        color: white;
    }
}

.menu-bars
{
    font-size: 2.5rem;;
}

/* margins / paddings / displays */
body {
    padding: 0rem;
    margin: 0rem;
}

header {
    a {
        margin-right: 3.125rem;
        padding-top: 5rem;
    }
   
}

footer {
    padding: 3.125rem;
    i {
        margin-right: 1.25rem;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {

    max-width: 100%;

}

.menu-bars {
    position: fixed;
    top: 0.625rem;
    right: 0.625rem;
}